@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.header {
  position: fixed;
  z-index: 1;
}

.home_link {
  padding: 10px;
}

.alice_link {
  padding: 10px;
}

.pooh_link {
  padding: 10px;
}

.story_title {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-shadow: 1px 1px 8px grey;
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.alice_header_picture {
  position: absolute;
  top: 15%;
  right: 35%;
  animation: fadein 4s;
}

.pooh_header_picture {
  position: absolute;
  top: 20%;
  right: 29%;
  animation: fadein 4s;
}

.down_arrow {
  position: absolute;
  top: 85%;
  right: 48%;
  text-align: center;
  animation-name: bounce-3;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-3 {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-20px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.gradient_box_alice {
  background-image: linear-gradient(white, lightblue);
  position: absolute;
  top: 110%;
  width: 99%;
  height: 500px;
}

.grass_field_alice {
  position: absolute;
  top: 115%;
  right: 0%;
}

.first_chapter_alice {
  position: absolute;
  top: 125%;
  width: 75%;
  right: 14%;
  font-size: 20px;
}
